.Frame {
    min-height: 70vh;
    min-width: 70vh;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background-color: blueviolet;
    color: aliceblue;
}

.Talker {
    background-color: yellow;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 25px;
    color: black;
    margin: 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
