.Frame {
    height: 70vh;
    min-width: 70vh;
    max-width: 90vh;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background-color: blueviolet;
    color: aliceblue;
    overflow-y: auto;
}

.Frame2 {
    max-height: 30vh;
    min-height: 10vh;
    min-width: 70vh;
    max-width: 90vh;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: blueviolet;
    color: aliceblue;
    padding: 10px;
    display: flex;
}

.UserTalker {
    background-color: yellow;
    border-radius: 25px;
    color: black;
    margin: 10px;
    padding: 10px;
    width: max-content;
    display: flex;
    max-width: 70%;
    height: max-content;
    
    
}
.Talker:hover {
    background-color: aqua;
    cursor: pointer;
}

.Direct {
    display: flex;
    flex-direction: row-reverse;
}

.Row {
    display: flex;
    flex-wrap: wrap;
}

.Avatar-kajo {
    max-width: 70px;
    max-height: 70px;
    margin: 10px;
    border-radius: 20px;
}
.Btn {
    background-color: yellow;
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    max-height: 45px;
}

.Btn:hover {
    cursor: pointer;
}
