.Frame {
    height: 70vh;
    min-width: 70vh;
    max-width: 100vh;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background-color: blueviolet;
    color: aliceblue;
    overflow-y: auto;
    overflow-x: hidden;
}

.UserTalker {
    background-color: yellow;
    border-radius: 25px;
    color: black;
    margin: 10px;
    padding: 10px;
    width: max-content;
    display: flex;
    max-width: 60%;
    height: max-content;
    
}
.Talker:hover {
    background-color: aqua;
    cursor: pointer;
}

.Direct {
    display: flex;
    flex-direction: row-reverse;
}

.Row {
    display: inline-flex;
}

.Avatar-kajo {
    max-width: 70px;
    max-height: 70px;
    margin: 10px;
    border-radius: 20px;
}
.Btn {
    background-color: yellow;
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}
